$primary__color: #113f67;
$secondary__color: #38598b;
$third__color: #a2a8d3;
$text__color: #e7eaf6;

.Navbar {
  width: 100%;
  

  .Navbar__List {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  }

  .Navbar__List__Child{
    padding-top: 10px;
  }
}
